[[source]]
name       = "pypi"
url        = "https://pypi.org/simple"
verify_ssl = true

[packages]
click    = "*"
paragon  = {editable = true, path = "."}
progress = "*"

[dev-packages]
black  = "*"
pylint = "*"
pytest = "*"
twine  = "*"

[requires]
python_version = "3.8"
